<!-- Daily Activity -->
<mat-card class="w-100">
    <mat-card-content>
      <h4 class="mb-56">Encuenta</h4>

      <button mat-button color="primary" (click)="openAddModal()"  *ngIf="this.isButtonVisible" >Agregar Encuesta</button>
  
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
  
          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell class="fw-medium" *matCellDef="let element; let i = index"> {{i +1 }} </td>
          </ng-container>

  
          <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element">
              <p class="mb-0 fw-medium">{{ element.fullname }}</p>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="questions">
            <th mat-header-cell *matHeaderCellDef> Preguntas </th>
            <td mat-cell *matCellDef="let element">
              <p *ngFor="let item of element.questions"> 
                Pregunta: {{item.question}} 
              </p>
            </td>
          </ng-container>
         
  

          <!-- Edit -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell class="fw-medium" *matCellDef="let element"> 

              <button mat-mini-fab class="mb-8 me-8" color="accent"   *ngIf="this.isButtonVisible"(click) = "openEditModal(element._id)" >
                <i-feather name="edit" class="warning feather-base me-12"></i-feather>

              </button>

              <button mat-mini-fab class="mb-8 me-8" color="warn" *ngIf="this.isButtonVisible"  (click) = "delete(element._id)">
                <i-feather name="trash-2" class="warning feather-base me-12"></i-feather>

              </button>
              <button mat-mini-fab class="mb-8 me-8" color="primary"  *ngIf="this.isButtonVisible2"  (click) = "openShowModal(element._id)">
                <i-feather name="check-circle" class="warning feather-base me-12"></i-feather>

              </button>
              <button mat-mini-fab class="mb-8 me-8" color="primary" *ngIf="this.isButtonVisible2"  (click) = "openViewModal(element._id)">
                <i-feather name="eye" class="warning feather-base me-12"></i-feather>

              </button>
              
              
            </td>
            
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>

    
</mat-card>

<!-- 
<div class="cdk-overlay-container" *ngIf="showDialog">
  <div class="cdk-overlay-backdrop cdk-overlay-dark-backdrop cdk-overlay-backdrop-showing"></div>
  <div class="cdk-global-overlay-wrapper" style="justify-content: center; align-items: center;" >
    <div id="cdk-overlay-1" class="cdk-overlay-pane" style="max-width: 80vw; width: 600px; height: 80%; position: static;">
      <div id="myModal" class="modal">
      
    </div>
    </div>
  </div>
</div> -->


